ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin-top: 100px;
}

li {
  width: 150px;
  height: 200px;
  box-shadow: 0 5px 10px 12px gray;
  border-radius: 6px;
  text-align: center;
}

form {
  margin-top: 100px;
  margin-left: 50px;
}